* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}
/*-------------------------------------------------------*/

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 0 auto;
  row-gap: 10px;
  column-gap: 10px;
  background-color: #ffffff;
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.308);
  width: 380px;
  margin-top: 100px;
  padding: 20px;
}

.container__item {
  background-color: #f9f9f9;
  font-size: 40px;
  border: 1px solid #f0f0f0;
  text-align: center;
  cursor: pointer;
  font-size: 25px;
  padding: 10px 0px;
}

.equal {
  grid-column: 4 / 5;
  grid-row: 3 / 7;
  background-color: #4e8ffe;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.operation {
  background-color: #dddddd;
}

.input-text {
  grid-column: 1 / -1;
  cursor: auto;
  text-align: right;
  background-color: #ffffff;
}
